.jumbotron{
  background-image: url("robert-conklin-327760.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  color: white;
  padding-top: 300px;
  padding-bottom: 100px;

  }


  .navbar{
    padding-bottom: 10px;
  }

  .navbar .navbar-brand{
      color: #d5dbe5;
      font-size: 1.1em;
  }
  .navbar .navbar-collapse .nav-item .nav-link{
    color: #d5dbe5;
    font-size: 1.1em;
  }

  .navbar .navbar-collapse .nav-item .nav-link:hover{
    color: #ffffff
  }

  .serv{
    margin: 2px;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
  }

.card-img-top{
  height: 300px;

  }
.about{
  text-align: center;
  margin-top: 40px;
  }

.person {
  border: 10px solid transparent;
  width: 80%;
  height: 40%;
  opacity: 1;
}
.person:hover {
  border-color: #2d74e5;
}

.drprater{
  padding: 20px 0px;
  background-color: #f6f6f6;
  font-size: 1.3em;
  align-items: center;
}

.contact{
  font-size: 1.3em;
  color: #0f135e;
}

@media (max-width: 576px){
  .drprater p{
    display: none;

  }
}

.card{
  margin: 0 auto;
}





footer{
  width: 100%;
  padding: 1%;
  color: white;
  background-color: #5E4485;
}
.fab{
  padding: 50px;
  font-size: 50px;
  color: #FFF;
}

.fa:hover{
  color: #d5d5d5;
  text-decoration: none;
}

hr{
width: 200px;
height: 5px;
}

@media (max-width: 768px){
  .jheader{
    font-size: 300%;
    margin-top: -200px;

  }
  .jdes{
    display: none;
  }

  .jbutton{
    margin: auto;
  }
    .navbar-brand{
    display: none;
  }

   nav{
     font-size: 1.5em;
   }

}
}

.navbar-toggler{
  float: right;
}
.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(70%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
  }
}


.drprater{
  color: #0f135e;
}

.tel,.tel:visited { /*for small screens */
display:block;
color:#fff;
padding:1em;
text-decoration:none;
}
