@import url("https://fonts.googleapis.com/css?family=Lato");


.open{
  background-image: url("brian-webb-230153-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  color: white;
  padding-top: 300px;
  padding-bottom: 100px;
  font-family: 'Lato';

  }

  .reviews{
    background-image: url("Tooth-filter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    color: white;
    font-size: 1.3em;
  }



  .navbar{
    background-color: #cfe0fc;
  }
  .navbar .navbar-brand{

  }
  .navbar .navbar-collapse .nav-item .nav-link{
    color: #494f59;
  }

  .navbar .navbar-collapse .nav-item .nav-link:hover{
    color: #ffffff
  }

  .serv{
    margin: 2px;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
  }
p{
    font-family: 'Lato';
  }

.card-img-top{
  height: 300px;

  }
.about{
  text-align: center;
  margin-top: 40px;
  }

.person {
  border: 10px solid transparent;
  width: 80%;
  height: 40%;
  opacity: 1;
}
.person:hover {
  border-color: #2d74e5;
}

.drprater{
  padding: 20px 0px;
  background-color: #f6f6f6;
  font-size: 1.3em;
  align-items: center;
}

.contact{
  font-size: 1.3em;
  color: #0f135e;
}

.card{
  margin: 0 auto;
}
footer{
  width: 100%;
  padding: 1%;
  color: #494f59;
  background-color: #cfe0fc;
}
i{
  margin-right: 10px;
}

.fa-facebook, .fa-google{
  color: blue;
}

.fa-yelp{
  color: red;
}

#map{
  width: 100%;
}

.fa:hover{
  color: #d5d5d5;
  text-decoration: none;
}


hr{
width: 200px;
height: 5px;

}
@media (max-width: 768px){
  .ci{
    height: 400px;
  }
  .cid{
    display: none;
  }
  .homescreentitles{
    font-size: 200%;
  }
}
@media (max-width: 768px){
  .jheader{
    font-size: 4em;
    margin-top: -200px;
    text-align: center;

  }
  .jdes{
    display: none;
  }

  .jbutton{
    margin: auto;
  }
  .kad{
    font-size: 2em;
  }

}
@media (max-width: 1200px){
  .kad-jumbo{
    text-align: center;
  }
}

.navbar-toggler{
  float: right;
}
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}
.jheader, .jbutton, .jdes {
  animation-name: example;
  animation-duration: 2s;
}
.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(70%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
  }
}


.drprater{
  color: #0f135e;
}
