@import url("https://fonts.googleapis.com/css?family=Lato");


.open{
  background-image: url("../images/Optimized-cincy_skyline.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  color: white;
  padding-top: 300px;
  padding-bottom: 100px;
  font-family: 'Crimson Text', serif;
  }

  .reviews{
    background-image: url("../images/Tooth-filter_opt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    color: white;
    font-size: 1.3em;
  }

  .vertical{
    border:         none;
    border-left:    10px solid #E3E08A;
    height:         20vh;
    width:          10px;
    padding-right: 1000px;

  }


/*LINES ON SIDE OF HEADINGS FOR WHITE HEADINGS*/
.Lines-On-Side-Office {
  position: relative;
  z-index: .25;
  overflow: hidden;
  text-align: center;
}
.Lines-On-Side-Office:before, .Lines-On-Side-Office:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 10%;
  height: 1px;
  content: '\a0';
  background-color: #E3E08A;
}
.Lines-On-Side-Office:before {
  margin-left: -10%;
  text-align: right;
}

  .officepic{
    background-image: url("../images/Optimized-Waiting_Room-original.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .schedule{
    background-color: #375173;
    color: #ffffff;
  }

  .schedule:hover{
    color: #E3E08A;
  }

  .separator{
    background-color: #E3E08A;
  }

  .navbar{
    background-color: #375173;
  }
  .navbar .navbar-brand{
    color: #ffffff;
  }
  .navbar .navbar-collapse .nav-item .nav-link{
    color: #ffffff;
  }

  .navbar-collapse .nav-item .nav-link:hover{
    color: #E3E08A;
  }

  .serv{
    margin: 2px;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
  }
p{
    font-family: 'Crimson Text', serif;
  }

.card-img-top{
  height: 300px;

  }
.about{
  text-align: center;
  margin-top: 40px;
  }

.person {
  border: 10px solid transparent;
  width: 80%;
  height: 40%;
  opacity: 1;
}
.person:hover {
  border-color: #2d74e5;
}

.drprater{
  padding: 20px 0px;
  background-color: #ffffff;
  font-size: 1.3em;
  align-items: center;
}

.contact{
  font-size: 1.3em;
  color: #0f135e;
}

.card{
  margin: 0 auto;
}
footer{
  width: 100%;
  padding: 1%;
  color: #E3E08A;
  /*color: #ffffff;*/
  background-color: #375173;
}
i{
  margin-right: 10px;
}

.fa-facebook, .fa-google{
  color: blue;
}

.fa-yelp{
  color: red;
}

#map{
  width: 100%;
}

.fa:hover{
  color: #d5d5d5;
  text-decoration: none;
}


hr{
width: 200px;
height: 5px;

}
@media (max-width: 768px){
  .ci{
    height: 400px;
  }
  .cid{
    display: none;
  }
  .homescreentitles{
    font-size: 200%;
  }
}
@media (max-width: 768px){
  .jheader{
    font-size: 4em;
    margin-top: -200px;
    text-align: center;

  }
  .jdes{
    display: none;
  }

  .jbutton{
    margin: auto;
  }
  .kad{
    font-size: 2em;
    font-family: 'Crimson Text', serif;
  }

}
@media (max-width: 1200px){
  .kad-jumbo{
    text-align: center;
    font-family: 'Crimson Text', serif;
  }
}

@media (max-width: 600){
  .carousel-inner{
    visibility: hidden;
  }
}
.navbar-toggler{
  float: right;
}
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}
.jheader, .jbutton, .jdes {
  animation-name: example;
  animation-duration: 2s;
}
.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(70%);
  }
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
  }
}


.drprater{
  color: #0f135e;
}
